<div class = "col-md-12 col-sm-12 col-lg-12" >
  <div class = "col-md-3 col-sm-3 col-lg-3"> 
    <div class="list-group">
      <a href="#" class="list-group-item active">
        Choose options:
      </a>
      <a href="<%= new_booking_path%>" class="list-group-item">New Booking <span class= "glyphicon glyphicon-plus pull-right"></span></a>
      <a href="<%= booked_list_bookings_path%>" class="list-group-item">See All Bookings <span class= "glyphicon glyphicon-eye-open pull-right"></span></a>
      <a href="#" class="list-group-item">Today's Bookings  <span class= "glyphicon glyphicon-calendar pull-right"></a>
      <a href="#" class="list-group-item">Edit Bookings <span class= "glyphicon glyphicon-pencil pull-right"></a>
    </div>
  </div>
  <div class = "col-md-9 col-sm-9 col-lg-9">
    <div class="jumbotron">
      <h1>Book and Go!!!</h1>
      <p>This is an online application in which user's are able to book different meeting rooms on there finger tips. Check the meeting room availability before planning a meeting.All in One...Book and Go..</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
  </div>
</div>
