<div class = "container">
	<a href= "<%= new_booking_path%>" class="btn btn-info" role="button">Book Meeting Room</a>
  <a href= "<%= booked_list_bookings_path%>" class="btn btn-info" role="button">Booked List</a>
</div>
