.login-btn{
	padding-bottom: 10px !important;
  padding-left: 0px !important;
}
.new_bk_butn
{
	float: right !important;
}

.panel-default > .panel-heading {
    background-image: none!important;
    background-color: rgb(117, 152, 169)!important;
    color: white!important;

}
 .container-margin-top{
  margin-top: 50px;
 }
 .collapse-margin{
  margin-top: 10px;
  margin-left: -25px;
 }
.header-all-page{
  margin-top: -55px!important;
  margin-left: 25px!important;
}

.row-padding{
  padding-top: 10px;
}
.bg-color{
  background-color: #E9EAD1;
}

.sample{
 color:  #f4ba51 ;
text-decoration: none;
}

.header-text {
    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

