.login-btn{
	padding-bottom: 10px !important;
  padding-left: 0px !important;
}
.new_bk_butn
{
	float: right !important;
}

.panel-default > .panel-heading {
    background-image: none!important;
    background-color: rgb(117, 152, 169)!important;
    color: white!important;

}
